<div fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="16px" class="container">
    <app-first-steps></app-first-steps>

    <div fxLayout="row" fxLayoutGap="16px" class="container">
      <button mat-flat-button fxFlex="calc(50% - 16px)" color="primary" routerLink="/setup" class="large">Start</button>
      <button mat-stroked-button color="primary" fxFlex="calc(50% - 8px)" routerLink="/join" class="large">Join</button>
    </div>

    <button mat-stroked-button color="primary" routerLink="/dashboard" class="large">dashboard</button>
  </div>
</div>
